n8n/workflows/balena-mood-tracker.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        230,
        280
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intents",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        230,
        430
      ],
      "webhookId": "0b753b86-30ec-44a8-a093-05bec64ed638"
    },
    {
      "parameters": {
        "functionCode": "console.log(item)\n\nconst intentName = item.body.intent.name\nconst raw = item.body.raw_text\nconst { mood, intensifier } = item.body.slots\n\nif (intentName === 'LogMood') {\n  console.log('MoodLog!');\n}\n\nreturn {json: {raw, mood, intensifier}};\n"
      },
      "name": "FunctionItem",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        430,
        430
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://moody/api/moods",
        "allowUnauthorizedCerts": true,
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$node[\"FunctionItem\"].json[\"json\"]}}"
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        630,
        430
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "FunctionItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FunctionItem": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": 1
}